<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title -- 维千网博客</title>
    <link href="~/layui/css/layui.css" rel="stylesheet" />
    <script src="~/layui/layui.js"></script>
    <style>
        .layui-form select {
            display:block;
            height:38px;
            line-height:38px;
            min-width:100px;
            border:1px solid #e6e6e6;
        }
        .layui-textarea {
            min-height:300px;
        }
    </style>
</head>
<body>
    <div>
        @RenderBody()
    </div>
</body>
</html>
